body
{
  background-color: #5edc6b;
 background-image: url("universo.gif");
 background-repeat: no-repeat;
 background-size: cover;
 max-width: 100%;
 max-height: 100%;



}



.contenedor
{
width: 100%;
margin: 30px auto;
font-size: arial;
display: grid;
grid-template-columns: repeat(6,1fr);
}

.botones a:hover
{


  color: #71B100;

}



.contenedor .cabecera
{
content: "";
background-color: #dark ;
color:#fff;
height: 100%;
width: 100%;
text-align: center;
padding: 110px;
border-width: medium;
border-style: solid;
border-color: black;
grid-column: 1/7;

}


.contenedor .cabecera a
{
 color: white;
 text-decoration: none;
 text-align: right;
 font-size: 50px;
 margin: 30px;

}
.contenedor .cont1
{
  background-color: # ;
  width: auto;
  height: auto;
  text-align: center;
  border-width: medium;
  border-style: solid;
  border-color: black;
  grid-column: 1/5;

}

.contenedor .cont1 h1
{
color: white;
font-size: 50px;

}

.contenedor .cont1 p
{
color: white;
font-size: 30px;

}

.contenedor .cont2
{
  background-color:  ;
  width: auto;
  height: 300
  grid-column: 5/7;
  image-orientation: center;
  padding-left: 230px;
}

.contenedor .bienvenido
{
  background-image: url("minee.jpg");
  background-repeat: no-repeat;
  background-size: cover;
max-width: 100%;
max-height: 100%;
  font-size: 30px;
  height: 800px;
  text-align: center;
  padding: 110px;
  border-width: medium;
  border-style: solid;
  border-color: black;
  grid-column: 1/7;

}

.contenedor .bienvenido h1

{
color:white;
text-align: center;
font-size: 60px;


}

.contenedor .bienvenido p
{
color: white;
font-size: 50px;
}







.contenedor .picos
{
  background-color: ;
  width: 1000px;
  height: 600;
  grid-column: 3/5

}

.picos p
{
  font-size: 30px;


}

.contenedor .tabla-donadores
{
  background-color: ;
  width: 100%;
  height: 900px;
  border-width: medium;
  border-style: solid;
  border-color: black;
  grid-column: 1/7;
}
.tabla-donadores td
{
font-size: 20px;

}
.tabla-donadores th

{
font-size: 30px;

}

.contenedor .cont6
{
  background-color: #7F967F ;
  width: 100%;
  height: 900px;
  border-width: medium;
  border-style: solid;
  border-color: black;
  grid-column: 1/5;
}
.contenedor .pie
{
background-color: green;
color:#fff;
height: 100px;
text-align: center;
padding: 20px;
border-width: medium;
border-style: solid;
border-color: black;
grid-column: 1/7;
}
